@import '../../assets/styles/variables.scss';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
}

.header_wrapper{
    display: flex;
    align-items: center;

    cursor: pointer;
}

.header_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;

    color: $primery-color;

    margin-left: 20px;
}

.change_theme{
    cursor: pointer;
}