$bg-light: #fff;
$bg-dark: #0D1117;

$primery-color: #4793FF;
$basic-color: #939CB0;
$color-light: #000;
$color-dark: #fff;

$component-bg-light: #fff;
$component-bg-dark: #4f4f4f;

$card-bg-light: rgba(71, 147, 255, 0.2);
$card-bg-dark: #2E3035;

:root {
    --bg-light: #{$bg-light};
    --bg-dark: #{$bg-dark};
    --bg-default: var(#{--bg-light});

    --component-bg-light: #{$component-bg-light};
    --component-bg-dark: #{$component-bg-dark};
    --component-bg-default: var(#{--component-bg-light});

    --card-bg-light:#{$card-bg-light};
    --card-bg-dark:#{$card-bg-dark};
    --card-bg-default:var(#{--card-bg-light});

    --color-light:#{$color-light};
    --color-dark:#{$color-dark};
    --color-default:var(#{--color-light});
}